
<ul id="footer_links">
    <li><a href="/">Главная</a></li>
    <li><a href="/gallery">Наши работы</a></li>
    {% for item in footer_menu %}
        <li><a href="/{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
</ul>