{% extends "UnoegohhRetailBundle:Default:layout.html.twig" %}

{% block content %}
    <h1>Портфолио</h1>
    {% for image in gallery %}
        <a class="gallery_item" href="{{ image.url }}" rel="lightbox[images]">
            <img src="{{ image.url }}" alt="{{ image.title }}">
        </a>
    {% endfor %}
    <div class="clear"></div>
{% endblock %}